<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.yglll.funlive">

    <!--联网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--震动-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"></uses-permission>

    <application
        android:name="com.github.yglll.funlive.application.FLApplication"
        android:allowBackup="true"
        android:icon="@drawable/vector_drawable_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vector_drawable_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.VideoPlayer"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".view.CateActivity"></activity>
        <activity android:name=".view.SigninActivity"></activity>
        <activity android:name=".view.SignupActivity"></activity>
        <receiver android:name=".view.widget.FunLiveWidget">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info"/>
        </receiver>
        <provider
            android:authorities="com.github.yglll.funlive.db.provider"
            android:name=".db.FunLiveProvide"
            android:exported="false"
            android:syncable="true">
        </provider>
    </application>
</manifest>